@import 'partial';

.home{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover !important;
    transition: all 1s;
    .home-container{
        padding: 1em;
        height: 100%;
        width: 100%;
        position: relative;
        .home-subcontainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width:100%;
            transition: all 1s;
            .selection{
                width: 100%;
                max-height: 64%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 1s;
                .continent-selection{
                    transition: all 1s;
                    margin-right: 1em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow-y: auto;
                    overflow-x: hidden;
                    width:30%;
                    border-radius: 5px;
                    background: rgba(255,255,255, 0.1);
                    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px -5px, rgba(255, 255, 255, 0.5) 0 0  10px -5px inset;
                    &::-webkit-scrollbar{ /* width */
                        width: 10px;
                        height: 20px;
                    }
                    @include scollbars(left);
                    ul{
                        height: 15em;
                        width:100%;
                        text-align: center;
                        transition: all 1s;
                        li{
                            font-family: $subtitle-police;
                            list-style-type: none;
                            font-size: 2.6em;
                            cursor: pointer;
                            transition: all 0.5s;
                            padding: 0.5em;
                            &:hover{
                                transform: scale(1.2);
                                filter:brightness(130%);
                            }
                        }
                    }
                }
                #country-selection{
                    margin: 1em;
                    width : 70%;
                    height: 90%;
                    overflow-x: auto;
                    overflow-y: hidden;
                    transition: all 1s;
                    &::-webkit-scrollbar{ /* width */
                        height: 10px;
                    }
                    @include scollbars(top);
                    .sub-country-selection{
                        padding: 1em;
                        display: flex;
                        width: 150%;
                        height: 90%;
                        transition: all 1s;
                        figure{
                            width: 30em;
                            margin: 0.6em;
                            cursor: pointer;
                            position: relative;
                            animation: appear linear 1s ;
                            transition: all 1s;
                            &:hover{
                                transform: scale(1.1);
                                filter: brightness(130%);
                                z-index: 1;
                            }
                            &:hover p{
                                width: 50%;
                                opacity: 1;
                            }
                            figcaption{
                                font-size: 1.3em;
                                text-indent: 1em;
                                margin-bottom: 0.5em;
                                transition: all 1s;
                                color: $green-color;
                                font-weight: bolder;
                            }
                            p{
                                margin: 0.5em;
                                width: 30%;
                                opacity: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                position: absolute;
                                font-size: 0.8em;
                                font-family: $title-police;
                                height: 70%;
                                background: #17a817;
                                color: white;
                                padding: 0.5em;
                                transition: all 1s;
                            }
                            img{
                                border-radius: 5px;
                                box-shadow: 3px 3px 10px rgba(19, 19, 19, 0.29);
                                transition: all 1s;
                                animation: img-opacity linear 1s ;
                            }
                        } 
                    }
                }
            }
        }
    }   
}

/*small smartphone*/
@media screen and (max-width:414px) {
    
    .home .home-container .home-subcontainer{
        .selection{
            display: flex;
            flex-direction: column;
            max-height: 80%;
            margin-top: 3em;
            .continent-selection,  #country-selection{
                width: 100%;
            }
            #country-selection .sub-country-selection figure{
                width:13em;
            }
        }
    }
}

/*small tablette & iphone*/
@media screen and (min-width:415px) and (max-width:600px) {
    
    .home .home-container .home-subcontainer{
        .selection{
            display: flex;
            flex-direction: column;
            max-height: 80%;
            margin-top: 3em;
            .continent-selection,  #country-selection{
                width: 100%;
            }
        }
    }
}

/*Tablette*/
@media screen and (min-width:601px) and (max-width:768px){
    .home .home-container .home-subcontainer{
        .selection{
            display: flex;
            flex-direction: column;
            .continent-selection,  #country-selection{
                width: 100%;
            }
        }
    }

}
